$white: #fff;
$mercury: #e5e5e5;
$black_5: rgba(0,0,0,.05);

.clear {
  clear: both;
}

.mtop10 {
  margin-top: 10px;
}

.header {
    color: #0088cc;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.border-form-div {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: $white;
	border: 1px solid $mercury;
	border-radius: 5px;
	box-shadow: 0 1px 2px $black_5;
	input[type="text"] {
		font-size: 16px;
		height: auto;
		margin-bottom: 15px;
		padding: 7px 9px;
	}
}
